__pycache__
.idea
*.pyc
TextureMapping
build
/External/AnimationDemoPicture/
/External/Demo/Graphic/root inspector fixless pycallgraph.png
/External/Demo/Graphic/Click check fixless pycallgraph.png
/External/Demo/Event/fixless_pycallgraph.png
/External/Demo/Graphic/convert disable pycallgraph.png
/External/Demo/Event/pycallgraph.png
/External/Demo/Graphic/EdgeType Fixed.png
/External/Demo/Graphic/UIEvent - Mouse - Basic Fixless.png
/External/Demo/Graphic/_pycallgraph.png
/External/Demo/Graphic/Debug Fixless.png
/External/Demo/Graphic/UIEvent - Mouse - Basic Fixed.png
/External/Demo/Graphic/EdgeType Fixless.png
/External/Demo/Animation/pycallgraph.png
/External/Demo/Graphic/Click check fixed pycallgraph.png
/External/Demo/Graphic/convert enable pycallgraph.png
/External/Demo/Graphic/Fix_Less_pycallgraph.png
/External/Demo/Graphic/root inspector fix pycallgraph.png
/External/Demo/Graphic/Debug Edge Fixed.png
